
.css1{
    color: purple;
    background-color: antiquewhite;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border-color: white;
    font-size: 15px;
    margin-top: 25px;
    

}
.button{
    color: antiquewhite;
    background-color: purple;
    border-radius: 10px;
    border-color: white;
    width: 80px;
    height: 45px;
}
.hhh{
    width:18px;
    height: 30px;
}
span{
    font-size: 17px;
    color: purple;
    margin-top: 8px;
    margin-left: 5px;
}
.css2{
    width:80px;
    height: 45px;
    margin: 6px;
    color:antiquewhite;
    background-color: purple;
    border-radius: 10px;
    border-color: white;
}