/* modedarklight.css */

.button-container {
    display: flex;
    margin-top: 10px; 
  }
  
  .sun-button,
  .moon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: -300px;
    margin-left: 13px;
  }
  
  .sun-button img,
  .moon-button img {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    margin-left: 10px;
    background-color: white;
    
  }

  .dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
  .light-mode {
    background-color: #ffffff;
    color: #333333;
  }